<body>
    <div class="container mt-3">
        <div class="col-12">
            <div class="row">
                <form action="">
                    <input type="text" name="buscador" id="buscador" placeholder="Ingresa su busqueda..." class="form-control"  (input)="buscar($any($event.target).value)">
                </form>

            </div>
            <div class="row">
                <div class="col-lg-3 mt-3 mb-3" *ngFor="let c of favoritos">
                  <div class="card" *ngIf="c.visible">
                    <div class="card-body">
                      <p class="card-text" style="font-style: italic; font-size: 20px;">{{ c.titulo}}</p>
                      <a  [routerLink]="['/ver/','favorito',c.idComic]" class="btn btn-primary">Ver mas</a>
                      <a class="btn btn-danger"  (click)="eliminar(c)">Eliminar</a>&nbsp;&nbsp;

                    </div>
                  </div>
                </div>
            </div>   
        </div>
    </div>
</body>